#headings{
    color: whitesmoke;
    font-size: 100px;
    text-align: center; 
    padding: 26px 0; 
    font-family: Lato, Helvetica, sans-serif;
}
p{
    color: aliceblue;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    background: rgba(0, 0, 0, 0.4) url(aaa.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken
}

.but2{
  transition: all 0.5s;
  font-size: 20px;
  width: 190px;
  height: 50px;
  border-radius: 10px;
  
  border: 0px;
  color: rgb(52, 51, 51);
  background-color: rgba(0, 0, 0, 0);
}
.but1{
    transition: all 0.5s;
    font-size: 20px;
    width: 190px;
    height: 50px;
    border-radius: 10px;
    margin-left: 20px;
    border: 0px;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.0);
}
.but2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.but2:hover span {
  padding-right: 25px;
}

.but2:hover span:after {
  opacity: 1;
  right: 0;
}

.but2:hover {background-color: rgba(87, 85, 85, 0.6)}
.but2:active{
  background-color: rgba(255, 255, 255, 0.499);
}
.but1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .but1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .but1:hover span {
    padding-right: 25px;
  }
  
  .but1:hover span:after {
    opacity: 1;
    right: 0;
  }
  
.but1:hover {background-color: rgba(87, 85, 85, 0.6)}
.but1:active{
    background-color: rgba(53, 52, 52, 0.5);
}
.banner{
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 7px;
  backdrop-filter: blur(.5rem);
  background-color: rgba(0, 0, 0, 0.5);
}
.banner__text{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  size: 35px;
  /*display: inline-block;*/
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner__content{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /*display: inline-block;*/
  padding: 16px;
}
.para{
  backdrop-filter: blur(3px);
  display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0px;
    color: aliceblue;
    background-color: rgba(0 , 0, 0, 0.4);
}
.para2{
  backdrop-filter: blur(3px);
  display: inline-block;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0px;
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.4);
}
.heading-c{
  z-index: 5;
  margin: 20px;
  padding: 0px;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.45);
}
.button_menu,.button_cart{
 background: none;
 border: none;
 border-radius: 8px;
 color: aliceblue;
 cursor: pointer;
}
